<div class="container">
  <div class="card col" style="color: black;">
  <img src="{{ userSingle.photo }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h1 class="card-title">{{ userSingle.name }}, {{userSingle.age}}</h1>
    <hr>
    <h3 class="card-text">My gender: {{userSingle.gender}}</h3>
        <h3 class="card-text">Preference: {{userSingle.sexualOrientation}}</h3>
            <h3 class="card-text">Profession: {{userSingle.profession}}</h3>
                <h3 class="card-text">Disabilities: {{userSingle.disability}}</h3>
                    <h3 class="card-text">About me: {{userSingle.about}}</h3>
                      <footer>
{{#if isOwner}}
  <a href="/user/user-profile-edit" class="btn btn-primary">Edit Profile</a>
{{else}}
<ul class="nav justify-content-between m-0">
  <li class="nav-item">
    <a class="nav-link active" href="/homeview" style="font-size: 2em;">Back</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="font-size: 2em;" href="/places">Match</a>
</ul>
{{/if}}
</footer>
  </div>
</div>

</div>

