<div class="container">
  <img src="{{ userSingle.photo }}" alt="">
  <h1>{{ userSingle.name }}, {{userSingle.age}}</h1>
  <h3>My gender:</h3>
  <h3>{{userSingle.gender}}</h3>
  <h3>Preference: </h3>
  <h3>{{ userSingle.sexualOrientation}}</h3>
  <h3>Profession: </h3>
  <h3>{{userSingle.profession}}</h3>
  <h3>Disabilities: </h3>
  <h3>{{userSingle.disability}}</h3>
  <h3>About me: </h3>
  <h3>{{ userSingle.about}}</h3>

  <footer>
{{#if isOwner}}
  <a href="/user/user-profile-edit" class="btn btn-primary">Edit Profile</a>
{{else}}
<ul class="nav justify-content-between bg-secondary m-0">
  <li class="nav-item">
    <a class="nav-link active" href="/homeview">Back</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Match</a>
</ul>
{{/if}}
</footer>
</div>

